### mutt ###
muttrc
emacs_toolchain
mutt-colors-solarized-light-256.muttrc

### Fish ###
fishd.*
fish_history
fish_variables*
config.local.fish
fish_frozen_key_bindings.fish
fish_frozen_theme.fish

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
