! Font and font size
URxvt*font: xft:SourceCodePro-Medium:size=6:antialias=true
URxvt*letterSpace: -1
URxvt*lineSpace: -1

! URxvt UI
URxvt*scrollBar: false
URxvt*transparent: false
URxvt.cursorBlink: true

! special
*.foreground:   #f0f0f0
*.background:   #1d1e20
*.cursorColor:  #f0f0f0

! black
*.color0:       #1f1f20
*.color8:       #5c6370

! red
*.color1:       #fb055a
*.color9:       #fb055a

! green
*.color2:       #26ffd4
*.color10:      #26ffd4

! yellow
*.color3:       #fdaa5a
*.color11:      #febe7e

! blue
*.color4:       #5c9fff
*.color12:      #55adff

! magenta
*.color5:       #fc59a6
*.color13:      #fd95d0

! cyan
*.color6:       #26ffd4
*.color14:      #26ffd4

! white
*.color7:       #f0f0f0
*.color15:      #f0f0f0

URxvt.perl-ext-common: default,clipboard,keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.clipboard.copycmd:  xsel -ib
URxvt.clipboard.pastecmd: xsel -ob

URxvt.saveLines: 9999
URxvt.iso14755: false

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
! Use extended color scheme
rofi.color-enabled:                  true
! Color scheme for normal row
rofi.color-normal:                   argb:00000000, #1aa, argb:11FFFFFF, #1aa,#333
! Color scheme for urgent row
rofi.color-urgent:                   argb:00000000, #f99, argb:11FFFFFF, #f99,#333
! Color scheme for active row
rofi.color-active:                   argb:00000000, #aa1, argb:11FFFFFF, #aa1,#333
! Color scheme window
rofi.color-window:                   argb:ee333333, #1aa,#1aa
! Separator style (none, dash, solid)
rofi.separator-style:                dash
