# • ▌ ▄ ·. ▄• ▄▌▄▄▄▄▄▄▄▄▄▄▄▄▄   ▄▄·
# ·██ ▐███▪█▪██▌•██  •██  ▀▄ █·▐█ ▌▪
# ▐█ ▌▐▌▐█·█▌▐█▌ ▐█.▪ ▐█.▪▐▀▀▄ ██ ▄▄
# ██ ██▌▐█▌▐█▄█▌ ▐█▌· ▐█▌·▐█•█▌▐███▌
# ▀▀  █▪▀▀▀ ▀▀▀  ▀▀▀  ▀▀▀ .▀  ▀·▀▀▀

# GMail User
set imap_user = 'your_mail@gmail.com'
set imap_pass = 'your_pass'
set from='you@alias.de'
set realname='Max Mustermann'

# Set the IMAP folders
set folder = imaps://imap.gmail.com/
set spoolfile = imaps://imap.gmail.com/INBOX
set postponed = "imaps://imap.gmail.com/[Gmail]/Drafts"

# Disable saving a send copy on the system
set copy = no

# Set mutt folders
set header_cache = "~/.mutt/cache/headers"
set message_cachedir = "~/.mutt/cache/bodies"
set certificate_file = "~/.mutt/certificates"

# SMTP Settings
set ssl_starttls = yes
set ssl_force_tls = yes
set smtp_url = 'smtps://your_mail@gmail.com:your_pass@smtp.gmail.com:465/'
set move = no

# Timeout
set imap_keepalive = 900
set timeout = 60

# Editor
set editor = "emacs -nw"

# Binkeys
bind index G imap-fetch-mail

auto_view text/html

# Source one of those files:
# https://github.com/altercation/mutt-colors-solarized